<md-list *ngFor="let player of players">
  <!--<md-list-item >
    <a md-line href="#" [routerLink]="['/races/', sportevent.id]" class="eventListItem">{{sportevent.name}}</a>
      <p md-line class="eventListItem">{{sportevent.date}}</p>
  </md-list-item>-->
  <md-list-item >
    <a md-line href="#"[routerLink]="['/players/', player.id]" class="playerListItem">{{player.name}}</a>
    <p md-line class="eventListItem">{{sportevent.date}}</p>
    <button md-mini-fab (click)="removePlayer(player.id)"><md-icon>check</md-icon></button>
  </md-list-item>
</md-list>
<section *ngIf="errorMessage">
  {{errorMesage}}
</section>
