/* You can add global styles to this file, and also import other style files */
//valid
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
input.ng-valid[required] {
  //border: 5px solid #42A948; /* green */
  background-color: #42A948;
}

//invalid
input.ng-invalid {
  //border: 5px solid #a94442; /* red */
  background-color: #a94442;
}

//error message
.error{
  padding: 12px;
  background-color: rgba(255,0,0,0.2);
  color: red;
}

body{
  background-image: url('./assets/img/back2.jpg');
}
